$prism-title-height: 30px;

pre[class*="language-"] {
    padding: 0;
     > code[data-language] {
        padding: 1em;
        padding-top: 0;
     }
}

.prism-title {
    margin-top: .5em;
    background-color: #f5f2f0;
    border-radius: 0.3em 0.3em 0 0;
    font-weight: 600;
    background-color: #e18728;
    padding: 0 1em;
    color: #ffffff;
    line-height: $prism-title-height;
}
.prism-title + pre[class*="language-"] {
    margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;

    overflow: visible;
    > code[data-language] {
        overflow: auto;
    }
    > code[data-language]::before {
        margin-top: - $prism-title-height;
        border-top-right-radius: 0.3em;
    }
}