@import 'compass/reset';

html {
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}

body {
    line-height: 1;
    font: 14px/19px arial, sans-serif;
    color: #555555;
    background-color: #ffffff;
}

button, input, select, textarea {
    margin: 0;
}

:focus {
    outline: 0;
}

img, video, object, embed {
    max-width: 100%;
    height: auto!important;
}

iframe {
    max-width: 100%;
}

blockquote {
    font-style: italic;
    font-weight: normal;
    font-family: Georgia,Serif;
    font-size: 15px;
    padding: 0 10px 20px 18px;
    position: relative;
    margin-top: 25px;

    &:after {
        position: absolute;
        content: "\"";
        font-size: 25px;
        color: #333;
        width: 50px;
        top: -5px;
        left: 0;
        font-family: arial;
    }

    p {
        margin-bottom: 10px;
    }
}

strong, b {
    font-weight: bold;
}

em, i, cite {
    font-style: italic;
    font-family: georgia;
}

small {
    font-size: 100%;
}

figure {
    margin: 10px 0;
}

code, pre {
    font-family: monospace, consolas, sans-serif;
    font-weight: normal;
    font-style: normal;
}

pre {
    margin: 5px 0 20px 0;
    line-height: 1.3em;
    padding: 8px 10px;
    overflow: auto;
}

code {
    padding: 0 8px;
    line-height: 1.5;
}

mark {
    padding: 1px 6px;
    margin: 0 2px;
    color: black;
    background: #FFD700;
}

address {
    margin: 10px 0
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-bottom: 12px;
    font-family: $title-font-family;
    color: #444;
}

h1 {
    font-size: 28px;
    line-height: 44px;
}

h2 {
    font-size: 24px;
    line-height: 40px;
}

h3 {
    font-size: 22px;
    line-height: 38px;
}

h4 {
    font-size: 20px;
    line-height: 24px;
}

h5 {
    font-size: 18px;
    line-height: 34px;
}

h6 {
    font-size: 16px;
    line-height: 24px;
}

p {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #2DB2EB;
    -webkit-transition: background-color, color 0.2s linear;
    -moz-transition: background-color, color 0.2s linear;
    transition: background-color, color 0.2s linear;

    &:link, &:visited, &:active {
        text-decoration: none;
    }

    &:hover {
        color: #00A8FF;
    }

    &:link {
        -webkit-tap-highlight-color: #FF5E99;
    }
}

:target {
    padding-top: 20px;
}