
/* Body Text Styles */
$text-color: #444444;
$base-font-size: 17px;
$base-font-family: 'PT Sans', Helvetica, Arial, sans-serif;
$title-font-family: 'Open Sans', Helvetica, Arial, sans-serif;
$base-font-weight: 400;
