.continent-input, .easy-select {
    border: 1px solid #ced2d8;
    background-color: #ffffff;
    font-size: 14px;
}
.easy-select {
    border-top: none;
}
.easy-select .items {
    padding: 0;
    margin: 0;
    max-height: 133px;
}
.continent-input, .easy-select .item {
    padding: 5px 12px;
}
.easy-select .item:not(.unselectable):hover {
    background-color: #f5fafd;
}