
$header-height: 80px;
$header-top: 20px;
$header-background-color: #e8862d;

$footer-height: 400px;
$footer-background-color: #C8D69A;

$sidebar-min-width: 200px;
$sidebar-max-width: 400px;
$sidebar-width: 30%;
$sidebar-background-color: #292c30;

$content-background-color: #f5f2f0;


$default-left-padding: 20px;