.header {
    position: absolute;
    top: $header-top;
    left: 0;
    right: 0;
    height: $header-height;
    z-index: 100;
    background-color: $header-background-color;
    padding-left: $default-left-padding;

    display: flex;
    flex-direction: row;
    align-items: center;

    .logo {
        flex-shrink: 0;
    }
    .logo-img {
        height: 60px;
    }
    /* nav */
    .nav {
        margin-right: 100px;
        margin-left: auto;
        ul {
            @include clearfix;
            padding-left: 40px;
        }
        .menu-item {
            float: left;
            list-style: none;
        }
    }
}