.sidebar {
    padding-top: $header-top + $header-height;
    width: $sidebar-width;
    min-width: $sidebar-min-width;
    max-width: $sidebar-max-width;
    background-color: $sidebar-background-color;
}