@import 'compass/utilities/general/clearfix';

/* wrapper */
.wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: row;
}

@import '_partials/header';
@import '_partials/content';
@import '_partials/sidebar';
@import '_partials/footer';



/* sidebar */

/* footer */

