$prism-title-height: 30px;

pre[class*="language-"] {
    padding: 0;
    border: none;
     > code[data-language] {
        padding: 1em;
     }

    // Override theme class for comment
    .token.comment {
        border: none;
        padding: 0;
        margin-bottom: 0;
    }
}

.prism-title {
    margin-top: .5em;
    background-color: #f5f2f0;
    border-radius: 0.3em 0.3em 0 0;
    background-color: #e18728;
    padding: 0 1em;
    color: #ffffff;
    line-height: $prism-title-height;
}
.prism-title + pre[class*="language-"] {
    margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding: 1em;
    overflow: auto;
    > code[data-language]::before {
        color: #afafaf;
        background-color: transparent;
        border-radius: 0;
    }
}